# environment specific
aliases*
apex-backup*
base*conf
cron*
labl.d
motd
openvpn
opt
php.ini
postfix
NetworkManager
httpd.conf.d*
!httpd.conf.d.public.httpsonly
!httpd.conf.d.public.httpsonly.norewrite

# base installation specific
account_name
base-account-name
domain_name
base-domain-name
company_name
base-company-name
privacy_notice
base-privacy_notice
base-svnserve-dir
