# environment specific
aliases*
apex-backup*
base*conf
base-backup-*
cron*
httpd.conf.d*
!httpd.conf.d.public.httpsonly
!httpd.conf.d.public.httpsonly.norewrite
labl.d
motd
NetworkManager
openvpn
opt
php.ini
postfix
syslog-ng*

# base installation specific
account_name
company_name
domain_name
privacy_notice
base-account-name
base-company-name
base-domain-name
base-privacy_notice
base-slack-url
base-svnserve-dir
