# environment specific
aliases
labl.d
motd
opt
php.ini
postfix
NetworkManager

# base installation specific
account_name
base-account-name
domain_name
base-domain-name
company_name
base-company-name
privacy_notice
base-privacy_notice
base-svnserve-dir
